<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
// This identifies your website in the createToken call below

Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');


$(document).ready(function(){
    $('#new_order').submit(function(event) {
      var $form = $(this);
      // Disable the submit button to prevent repeated clicks
      $form.find('[type=submit]').prop('disabled', true);

      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
});

function stripeResponseHandler(status, response) {
  var $form = $('#new_order');
  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('[type=submit]').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};

</script>

<h1>Checkout</h1>
<div class="payment-errors">

</div>
<%= form_for @order do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <lable for="card-number">Card Number</lable>
    <input id="card-number" class="form-control" data-stripe="number">
  </div>

  <div class="form-group">
    <lable for="cvv">CVV</lable>
    <input id="cvv" class="form-control" data-stripe="cvc">
  </div>

  <div class="form-group">
    <lable for="card-exp-month">Exp Month</lable>
    <input id="card-exp-month" class="form-control" data-stripe="exp-month">
  </div>

  <div class="form-group">
    <lable for="card-exp-year">Exp Year</lable>
    <input id="card-exp-year" class="form-control" data-stripe="exp-year">
  </div>


  <%= f.submit "Checkout" %>
<% end %>
