<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img src="http://www.mava.org/Portals/0/Betamore_logo-full.jpg" class="img-responsive">
      <p class="col-centered">Our store is launching soon! Check back in 2015 for our product line.</b>
    </div>
  <div class="row">
    <div class="col-md-12 beta-dark-background col-centered">
            <%= form_for(@subscription) do |f| %>
              <div class="field">
                <div class="beta-light">
                <%= f.label :email, "<h1>Find out when we go live:</h1>".html_safe %>
                </div>
                <br />
                <%= f.text_field :email %>
                <%= f.submit "Sign Up" %>
              </div>
            <% end %>

            <% if flash.present? %>
              <% flash.each do |k,v| %>
                <div class="<%= k %>"><%= v %></div>
              <% end %>
            <% end %>
    </div>
  </div>
</div>
