<%= form_for(@subscription) do |f| %>
  <div class="field">
    <%= f.label :email, "Find out when we go live:" %>
    <%= f.text_field :email %>
    <%= f.submit "Sign Up" %>
  </div>
<% end %>

<% if flash.present? %>
  <% flash.each do |k,v| %>
    <div class="<%= k %>"><%= v %></div>
  <% end %>
<% end %>
