<h1>Update Product</h1>
<%= form_for [:admin, @product] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :image_url %>
  <%= f.url_field :image_url %>
  <%= f.submit "Update Product" %>
  <%= link_to "Delete", admin_product_path(@product), method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn btn-danger" %>
<% end %>

<% @product.errors.full_messages.each do |error| %>

  <%= error %>

<% end %>
