<h1>Products</h1>
<% if flash[:notice].present? %>
 <div class="notice"><%= flash[:notice] %></div>
<% end %>

<button type="button" class="btn btn-primary"><%= link_to "New Product", new_admin_product_path %></button>

<table class="table">
 <tr>
   <th>ID</th>
   <th>Name</th>
   <th>Price </th>
   <th>Created At</th>
 </tr>
 <% for product in @products %>
   <tr>
     <td><%= product.id %></td>
     <td><%= link_to product.name, admin_product_path(product) %></td>
     <td><%= number_to_currency product.price %></td>
     <td><%= product.created_at %></td>
   </tr>
 <% end %>
</table>
